[Unit]
Description=rttys
After=network.target

[Service]
PIDFile=/var/run/rttys.pid
ExecStart=/usr/local/bin/rttys -conf /etc/rttys/rttys.conf
ExecStop=/sbin/start-stop-daemon --quiet --stop --retry QUIT/5 --pidfile $PIDFile
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
